<%= form_for(@t_correcteddatum) do |f| %>
  <% if @t_correcteddatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@t_correcteddatum.errors.count, "error") %> prohibited this t_correcteddatum from being saved:</h2>

      <ul>
      <% @t_correcteddatum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :t_punchdata_id %><br>
    <%= f.number_field :t_punchdata_id %>
  </div>
  <div class="field">
    <%= f.label :m_user_id %><br>
    <%= f.number_field :m_user_id %>
  </div>
  <div class="field">
    <%= f.label :access_control_kubun %><br>
    <%= f.text_field :access_control_kubun %>
  </div>
  <div class="field">
    <%= f.label :corrected_time %><br>
    <%= f.datetime_select :corrected_time %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :delete_flg %><br>
    <%= f.number_field :delete_flg %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
