<%= form_for(@t_correcteddatum) do |f| %>
  <% if @t_correcteddatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@t_correcteddatum.errors.count, "error") %> prohibited this t_correcteddatum from being saved:</h2>

      <ul>
      <% @t_correcteddatum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="t_correcteddatum_form">
      <%= f.label :打刻No（追加時は「0」。修正時は修正対象の『打刻No』を入力。） %>
      <%= f.number_field :t_punchdatum_id, value: 0, required: true %>
      <%= f.label :削除（打刻Noに『打刻No』を入力してチェック。） %>
      <%= check_box_tag :punchdata, true, false, {}  %>
      <%= f.label :入退室区分 %>
      <%= f.select(
            :access_control_kubun,
            {出勤: "Arrived",
             退勤: "Left",
             外出: "GoOut",
             戻り: "GoBack"
            })
      %>
      <%= f.label :日時 %>
      <%= f.datetime_select(
            :corrected_time,
            use_month_numbers: true,
            start_year:        (Time.now.year + 2),
            end_year:          2014,
            default:           Time.now,
            minute_step:       15)
      %>
      <%= f.label :コメント（必須） %>
      <%= f.text_field :comment, required: true %>
  </div>
  <div class="actions">
    <%= f.submit("追加・修正") %>
  </div>
<% end %>
