<h1>修正データ削除</h1>

<div id="punchdata_table">
<table>
  <thead>
    <tr>
      <th>打刻No</th>
      <!--th>M user</th-->
      <th>入退室区分</th>
      <th>修正時刻</th>
      <th>コメント</th>
      <!--th>Delete flg</th-->
      <!--th></th-->
      <!--th></th-->
      <th>削除コマンド</th>
    </tr>
  </thead>

  <tbody>
    <% @t_correcteddata.each do |t_correcteddatum| %>
      <tr>
        <td><%= t_correcteddatum.t_punchdatum_id %></td>
        <!--td><%= t_correcteddatum.m_user_id %></td-->
        <td><%= t_correcteddatum.access_control_kubun %></td>
        <td><%= t_correcteddatum.corrected_time %></td>
        <td><%= t_correcteddatum.comment %></td>
        <!--td><%= t_correcteddatum.delete_flg %></td-->
        <!--td><%= link_to 'Show', t_correcteddatum %></td-->
        <!--td><%= link_to 'Edit', edit_t_correcteddatum_path(t_correcteddatum) %></td-->
        <td><%= link_to '>>削除', t_correcteddatum, method: :delete, data: { confirm: '削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to '戻る', root_path %>
