<p id="notice"><%= notice %></p>

<p>
  <strong>T punchdata:</strong>
  <%= @t_correcteddatum.t_punchdata_id %>
</p>

<p>
  <strong>M user:</strong>
  <%= @t_correcteddatum.m_user_id %>
</p>

<p>
  <strong>Access control kubun:</strong>
  <%= @t_correcteddatum.access_control_kubun %>
</p>

<p>
  <strong>Corrected time:</strong>
  <%= @t_correcteddatum.corrected_time %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @t_correcteddatum.comment %>
</p>

<p>
  <strong>Delete flg:</strong>
  <%= @t_correcteddatum.delete_flg %>
</p>

<%= link_to 'Edit', edit_t_correcteddatum_path(@t_correcteddatum) %> |
<%= link_to 'Back', t_correcteddata_path %>
