<%= form_for(@m_card) do |f| %>
  <% if @m_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m_card.errors.count, "error") %> prohibited this m_card from being saved:</h2>

      <ul>
      <% @m_card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

    </div>
  <% end %>
  <%= f.label :m_user_id, "ユーザID" %>
  <%= f.text_field :m_user_id %>
  <%= f.label :card_identification_code, "カード識別番号" %>
  <%= f.text_field :card_identification_code %>

  <div class="actions">
    <%= f.submit("追加") %>
  </div>
<% end %>
