<h1>※管理者専用※ <br>カードマスタメンテナンス</h1>

<div id="punchdata_table">
<table>
  <thead>
    <tr>
      <th>ユーザID</th>
      <th>カード識別番号</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @m_cards.each do |m_card| %>
      <tr>
        <td><%= m_card.m_user_id %></td>
        <td><%= m_card.card_identification_code %></td>
        <td><%= link_to '＞＞削除', m_card, method: :delete, data: { confirm: '削除します' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'カード新規追加', new_m_card_path, class: "button_format" %>
<br>
<br>
<br>
<%= link_to 'ユーザマスタメンテナンス', m_users_path %>
